* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}

.fade {
  height: 100vh;
  width: 100vw;
  z-index: 10;
}
.navbar {
  user-select: none;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  align-items: center;
  height: 56px;
  padding: 0 40px 10px 10px;
  position: fixed;
  background-color: white;
  z-index: 10;

  .navbar__left-container {
    display: flex;
    align-items: center;
    &__hamburger {
      padding: 15px;
      svg {
        height: 35px;
        width: 35px;
        padding: 5px;
        margin-left: 10px;
        &:hover {
          cursor: pointer;
          background-color: #6161611c;
          border-radius: 50%;
        }
      }
    }
    &__logo {
      margin-left: 10px;
      &::after {
        content: "AZ";
        position: relative;
        font-size: 11px;
        top: -17px;
        left: 2px;
        color: #616161;
      }
      img {
        height: 22px;
        position: relative;
      }
    }
  }
  .navbar__center-container {
    display: flex;
    width: 820px;
    justify-content: end;
    align-items: center;
    &_search-bar {
      display: flex;
      border: 1px solid rgb(205 194 194);
      border-radius: 20px;
      min-width: 50vw;
      &.show {
        outline: 1px solid rgb(88, 88, 255);
      }
      .navbar__center-container_search-input-focus-icon {
        display: none;
        align-items: center;
        justify-content: center;
        padding-left: 15px;
        svg {
          font-size: 20px;
        }
        &.show {
          display: flex;
        }
      }
      input {
        min-width: 45vw;
        outline: 0;
        border: 0;
        padding: 10px 15px;
        border-radius: 20px 0 0 20px;
        font-size: 18px;
        &::placeholder {
          opacity: 0.9;
        }
      }
      button {
        outline: 0;
        background-color: white;
        border: 0;
        border-left: 1px solid rgb(205 194 194);
        border-radius: 0 20px 20px 0;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          font-size: 28px;
        }
        &:hover {
          cursor: pointer;
          background-color: #6161611c;
        }
      }
    }
    &_voice {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;

      margin-left: 10px;
      svg {
        font-size: 24px;
      }
      &:hover {
        cursor: pointer;
        background-color: #6161611c;
        border-radius: 50%;
      }
    }
  }

  .navbar__right-container {
    display: flex;
    align-items: center;
    gap: 25px;
    img {
      width: 35px;
      height: 35px;

      border-radius: 50%;
    }
    &_create {
      svg {
        font-size: 26px;
      }
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      position: relative;
      &:hover {
        cursor: pointer;
        background-color: #6161611c;
        border-radius: 50%;
      }
      &_sub-menu {
        position: absolute;
        width: 170px;
        top: 35px;
        left: 0;
        background-color: white;
        z-index: 9999;
        div {
          display: flex;
          align-items: center;
          text-align: left;
          &:hover {
            background-color: #6161611c;
          }
          svg {
            padding: 10px;
            margin-right: 10px;
          }
        }
      }
    }
    &_notifications {
      position: relative;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        cursor: pointer;
        background-color: #6161611c;
        border-radius: 50%;
      }
      svg {
        font-size: 26px;
      }
      &_count {
        position: absolute;
        color: white;
        background-color: rgb(193, 27, 27);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 17px;
        height: 17px;
        font-size: 13px;
        line-height: normal;
        left: 20px;
        top: 2px;
        text-align: center;
        border-radius: 50%;
        outline: 2px solid white;
      }
      &_detailed {
        display: none;
        position: absolute;
        top: 11px;
        right: 145px;
        background-color: white;
        height: 95vh;
        width: 510px;
        overflow-y: scroll;
        border-radius: 10px;
        box-shadow: 0px 0px 10px #0000004d;
        &.show {
          display: block;
        }
        img {
          height: 75px;
        }
        &_header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 15px;
          font-size: 18px;
          border-bottom: 1px solid rgb(205 194 194);
          &-settings {
            cursor: pointer;
            height: 30px;
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            padding: 5px;
            svg {
              font-size: 22px;
            }
            &:hover {
              background-color: #6161611c;
            }
          }
        }
        &_body {
          display: flex;
          flex-direction: column;
          &-notification {
            display: flex;
            padding: 10px 0;
            cursor: pointer;

            &:hover {
              background-color: #6161611c;
            }
            &-profile {
              display: flex;
              justify-content: center;
              padding: 5px;
              img {
                height: 50px;
                width: 50px;
                object-fit: cover;
                border-radius: 50%;
              }
            }
            &-body {
              padding: 0 20px;
              &-text {
                line-height: 1.4;
                letter-spacing: 0.2px;
                font-size: 15px;
              }
              &-date {
                font-size: 13px;
                padding: 10px 0;
                color: #616161;
              }
            }
            &-image {
              img {
                height: 60px;
                border-radius: 7px;
              }
            }
            &-settings {
              & > svg {
                height: 20px;
                width: 20px;
                transform: rotate(90deg);
                padding: 10px;
                margin: 0 15px;
                border-radius: 50%;
                cursor: pointer;
                &:hover {
                  background-color: #6161611c;
                }
              }
              &_details {
                width: 380px;
                position: absolute;
                right: 15px;
                background-color: white;
                border-radius: 10px;
                padding: 5px 0;
                font-size: 15px;
                &.show {
                  display: block;
                }
                &-setting {
                  display: flex;
                  align-items: center;
                  letter-spacing: 0.2px;
                  padding: 7px;
                  &:hover {
                    background-color: #6161611c;
                  }
                  &_icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 30px;
                    width: 30px;
                    font-size: 24px;
                    margin: 0 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
    &_profile {
      cursor: pointer;
      width: 44px;
      height: 39px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        &:active {
          border: 1px solid rgb(121, 170, 196);
        }
      }
    }
    &_profile-detailed {
      background-color: white;
      position: absolute;
      top: 10px;
      right: 80px;
      width: 302px;
      height: calc(100vh - 10px);
      border-radius: 20px;
      overflow-y: scroll;
      .divider {
        background: rgba(0, 0, 0, 0.1);
        width: 100%;
        height: 1px;
        margin: 10px 0;
      }
      header {
        display: flex;
        .profile_icon {
          padding: 10px;
          img {
            height: 45px;
            width: 45px;
          }
        }
        .profile_details {
          padding: 10px;
          font-size: 18px;
          .full-name {
            margin-bottom: 5px;
          }
          .username {
            margin-bottom: 10px;
          }
          a {
            font-size: 14px;
            color: blue;
            text-decoration: none;
          }
        }
      }
      section {
        padding: 10px;
        .setting {
          display: flex;
          align-items: center;
          padding: 5px 0;
          margin-bottom: 5px;
          &:hover {
            cursor: pointer;
            background-color: #7c7c7c1c;
          }
          .icon {
            padding: 0 15px 0 5px;
            svg {
              height: 1.5rem;
              width: 1.5rem;
            }
          }
          .property-name {
            font-size: 15px;
            padding-bottom: 5px;
            margin-right: auto;
          }
          svg {
            height: 1.25rem;
            width: 1.25rem;
          }
        }
      }
    }
  }
}

.sidebar {
  position: fixed;
  top: 56px;
  height: 85vh;
  padding-top: 30px;
  div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    svg {
      font-size: 26px;
      margin-bottom: 5px;
    }
    span {
      font-size: 11px;
    }
  }
}

.detailed_sidebar {
  position: fixed;
  background-color: white;
  height: 100vh;
  padding: 9px 30px 0 10px;
  overflow-x: scroll;
  max-width: 300px;
  top: 0;
  z-index: 11;
  main div {
    padding: 10px 40px 10px 10px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    img {
      width: 26px !important;
      height: 26px !important;
      border-radius: 50%;
    }
    img,
    svg {
      height: 26px;
      width: auto;

      margin-right: 30px;
    }

    &:hover {
      background-color: #6161611c;
      border-radius: 10px;
    }
  }
  .divider {
    background: rgba(0, 0, 0, 0.1);
    width: 225px;
    height: 1px;
    margin: 10px 0;
  }
  h3 {
    font-weight: normal;
    margin: 5px auto 5px 15px;
  }
  header {
    display: fixed;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
    margin-bottom: 10px;
    .header__hamburger {
      margin-right: 40px;
      display: inline-block;
      svg {
        height: 24px;
        width: auto;

        margin-left: 10px;

        &:hover {
          cursor: pointer;
          background-color: #6161611c;
          border-radius: 50%;
        }
      }
    }
    .header__logo {
      display: inline-block;
      &::after {
        content: "AZ";
        position: relative;
        font-size: 11px;
        top: -17px;
        left: 2px;
        color: #616161;
      }
      img {
        height: 22px;
        position: relative;
        margin-left: -10px;
      }
    }
  }
  section {
    padding: 10px 16px;
    a {
      display: inline-block;
      margin-right: 10px;
      font-size: 14px;
      color: gray;
      font-weight: 600;
      text-decoration: none;
    }
    p {
      font-size: 13px;
      color: gray;

      text-decoration: none;
    }
  }
}

.mainContent {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 86px;
  padding-left: 106px;
  width: 91vw;

  row-gap: 50px;
  .video {
    & > img {
      width: 390px;
      border-radius: 10px;
      cursor: pointer;
      &::after {
        content: "32:30";
        background-color: black;
      }
    }

    .description {
      display: flex;
      padding-top: 10px;

      img {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        margin-right: 15px;
        cursor: pointer;
      }
      h2 {
        font-size: 20px;
        width: 90%;
        margin-bottom: 3px;
        cursor: pointer;
      }
      h4 {
        font-size: 15px;
        font-weight: 200;
        padding: 3px 0;
        cursor: pointer;
      }
    }
  }
}
